<header class="menuBar">
  <div class="menuBar--logo">
    <%=image_tag "logo", alt: "CustomInk is cool", height: "80px" %>
  </div>

  <dl class="menuBar--ttarp">
    <dt class="menuBar--ttarp__icon"><%=fa_icon "headphones" %></dt>
    <dd class="menuBar--ttarp__title">Talk to a real person</dd>
    <dd class="menuBar--ttarp__action">800-293-4232</dd>
  </dl>
  <dl class="menuBar--ttarp">
    <dt class="menuBar--ttarp__icon"><%=fa_icon "comments" %></dt>
    <dd class="menuBar--ttarp__title">Chat with a real person</dd>
    <dd class="menuBar--ttarp__action">Chat Now</dd>
  </dl>
</header>

<div class="content">
  <ul class="linkList">
    <li class="linkList--item">Products</li>
    <li class="linkList--item">Design Lab</li>
    <li class="linkList--item">Templates</li>
    <li class="linkList--item">Fundraising</li>
    <li class="linkList--item">About Us</li>
    <li class="linkList--item">Your Account</li>
  </ul>
</div>
