<div class="titleBlock">
  <h1>
    <span class="titleBlock--title">Design Name:</span>
    <span class="titleBlock--usertitle">satan_is_pleased</span>
  </h1>
  <ul class="actions">
    <li class="actions--date">Last saved on August 29, 2017</li>
    <li class="actions--retrieve">Retrieve another design</li>
    <li class="actions--print">print this design</li>
  </ul>
</div>
