<div class="titleBlock">
  <h1>
    <span class="titleBlock--usertitle">"Satan Is Pleased With Your Progress"</span>
    <span class="titleBlock--product">on Gildan Ultra Cotton</span>
  </h1>
  <ul class="actions">
    <li class="actions--retrieve">Retrieve another design</li>
    <li class="actions--print">print this design</li>
    <li class="actions--date">Last saved on August 29, 2017</li>
  </ul>
</div>
