<div class="titleBlock">
  <h1>
    <span class="titleBlock--usertitle">"foo_bar_bat"</span>
    <span class="titleBlock--product">on Gildan Ultra Cotton</span>
  </h1>
  <ul class="actions">
    <li class="actions--retrieve">Retrieve Another Design</li>
    <li class="actions--date">Last saved on August 29, 2017</li>
  </ul>
</div>
