// Blocks
//===========================================

.canvas {
  max-width: 1280px;
  margin: auto;
}

.color-bar .swatch {
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  border: 1px solid $color-black;
  margin: $space-xl auto;
  cursor: pointer;
}

.swatch--red {
  background: $color-red;
}
.swatch--purple {
  background: $color-purple;
}
.swatch--yellow {
  background: $color-yellow;
}

// Detail page concerns
// mostly cards

.cardSet {
  display: flex;
}
.cardSet--card {
  flex: auto;
  padding: $space-xl;
}
.cardSet--card .order-now {
  text-align: center;
  margin: $space-xl 0;
  font-size: modular-scale(-1);
}
.cardSet--card p {
  font-size: modular-scale(-1);
  line-height: 1.67;
}
.cardSet--card ul {
  list-style: none;
  margin: 0 0 $space-xl;
  padding: 0;
  border-top: 1px solid $color-gray-light-med;
}
.cardSet--card ul li {
  font-size: modular-scale(-1);
  padding: $space-l $space-m;
  border-bottom: 1px solid $color-gray-light-med;
}
.cardSet--card ul li a {
  display: block;
  text-decoration: none;
}
.cardSet--card ul li .icon {
  float: right;
  font-size: modular-scale(2);
  line-height: 1.45;
  color: $color-black;
}
.cardSet--card__proof {
  padding-left: 0;
}
.cardSet--card__proof img {
  width: 400px;
  border-radius: 8px;
}
