<div class="cardSet">

  <div class="cardSet--card cardSet--card__proof">
    <%=image_tag "watermarked_big.jpg" %>
  </div>

  <div class="cardSet--card cardSet--card__proof">
    <%=image_tag "watermarked_big-1.jpg" %>
  </div>

  <div class="cardSet--card">
    <div class="top">

      <h6>Design Name</h6>
      <h2>LoremIpsumDolor</h2>

      <ul class="product_info">
        <li>Last Updated: December 22, 2017</li>
        <li>Product: Gildan Ultra Cotton <span class="pill pill__small">Edit</span></li>
      </ul>
    </div>
    <div class="bottom">

      <div class="btn btn--xl btn--primary">Order Now</div>
      <div class="order-now">
        Order today for FREE delivery by December 26, 2017
      </div>
      <div class="actions">
        <div class="btn btn--secondary btn--secondary__inline">Edit Design</div>
        <div class="btn btn--secondary btn--secondary__inline">Get Price</div>
      </div>

    </div>

  </div>
</div>
