<h1>Buttons</h1>

<h2>Button A</h2>
<div class="btn-a btn-a--primary">Start Customizing</div>
<hr>

<h2>Button B</h2>
<div class="btn-b btn-b--primary">Start Customizing</div>
<hr>

<h2>Button C</h2>
<div class="btn-c btn-c--primary">Start Customizing</div>
<hr>

<h2>Button D</h2>
<div class="btn-d btn-d--primary">Start Customizing</div>
<hr>

<h2>Button E</h2>
<div class="btn-e btn-e--primary">Start Customizing</div>
<hr>
