// Buttons
//===========================================

// Config
$btn-radius: 4px;

// A
.btn-a {
  padding: $space-l $space-xl*2 $space-l+2;
  transition: all 0.60s ease-in-out;
  cursor: pointer;
}

.btn-a--primary {
  background: $color-btn-primary;
  display: inline-block;
  color: lighten($color-btn-primary, 50%);
  text-align: center;
  border-radius: $btn-radius;
  box-shadow:
    //0 -2px 0 darken($color-btn-primary, 20%) inset
    0 3px 6px darken($color-gray-light, 25%);
}

.btn-a--primary:hover {
  background: darken($color-btn-primary, 5%);
}
.btn-a--primary:active {
  background: darken($color-btn-primary, 10%);
  //box-shadow: 0 -4px 4px darken($color-btn-primary, 15%) inset;
  box-shadow: none;
}


// B
.btn-b {
  padding: $space-l $space-xl*2 $space-l+2;
  transition: all 0.10s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.btn-b--primary {
  background: $color-btn-primary;
  display: inline-block;
  color: lighten($color-btn-primary, 50%);
  text-align: center;
  border-radius: $btn-radius;
  box-shadow:
    0 -2px 0 darken($color-btn-primary, 15%) inset,
    0 3px 4px darken($color-gray-light, 25%);
}

.btn-b--primary:hover {
  background: darken($color-btn-primary, 5%);
}
.btn-b--primary:active {
  background: darken($color-btn-primary, 10%);
  box-shadow: 0 2px 0 darken($color-btn-primary, 20%) inset;
}

// C
.btn-c {
  padding: $space-l $space-xl*2 $space-l+2;
  transition: all 0.10s ease-in-out;
  cursor: pointer;
}

.btn-c--primary {
  background: $color-btn-primary;
  display: inline-block;
  color: lighten($color-btn-primary, 50%);
  text-align: center;
  border-radius: $btn-radius*10;
  box-shadow:
    0 3px 4px darken($color-gray-light, 25%);
}

.btn-c--primary:hover {
  background: darken($color-btn-primary, 5%);
}
.btn-c--primary:active {
  background: darken($color-btn-primary, 10%);
  box-shadow: 0 2px 0 darken($color-btn-primary, 15%) inset;
}

// D
.btn-d {
  padding: $space-l $space-xl*2 $space-l+2;
  transition: all 0.10s ease-in-out;
  cursor: pointer;
}

.btn-d--primary {
  background: $color-btn-primary;
  display: inline-block;
  color: lighten($color-btn-primary, 50%);
  text-align: center;
  border-radius: $btn-radius;
}

.btn-d--primary:hover {
  background: darken($color-btn-primary, 5%);
}
.btn-d--primary:active {
  background: darken($color-btn-primary, 10%);
  box-shadow: 0 2px 0 darken($color-btn-primary, 30%) inset;
}

// E
.btn-e {
  padding: $space-l $space-xl*2 $space-l+2;
  transition: all 0.10s ease-in-out;
  cursor: pointer;
}

.btn-e--primary {
  background: $color-btn-primary;
  display: inline-block;
  color: lighten($color-btn-primary, 40%);
  text-align: center;
  width: 100%;
  box-shadow:
    //0 -2px 0 darken($color-btn-primary, 20%) inset
    0 3px 6px darken($color-gray-light, 25%);
}

.btn-e--primary:hover {
  background: darken($color-btn-primary, 5%);
  box-shadow: 0 6px 12px darken($color-gray-light, 25%);
}
.btn-e--primary:active {
  background: darken($color-btn-primary, 10%);
  //box-shadow: 0 -4px 4px darken($color-btn-primary, 15%) inset;
  box-shadow: none;
}


.btn {
  padding: $space-l $space-xl*2 $space-l+2;
  transition: all 0.20s ease-in-out;
  cursor: pointer;
}
.btn--secondary {
  @extend .btn-e;
  display: inline-block;
  background: $color-gray;
  text-align: center;
  color: #fff;
  width: 49%;
  box-shadow: 0 3px 6px darken($color-gray-light, 25%);
}
.btn--secondary:hover {
  background: darken($color-gray, 5%);
  box-shadow: 0 6px 12px darken($color-gray-light, 25%);
}
.btn--secondary:active {
  background: darken($color-gray, 10%);
  box-shadow: none;
}
