.titleBlock {
  line-height: 1;
  width: 100%;
  margin: $space-xl*3 0;
}
.titleBlock h1 {
  margin: 0;
  line-height: 2;
}

.titleBlock--product {
  color: $color-black;
}

.titleBlock--usertitle {
  color: $color-black;
}

.titleBlock--actions--action {}

.titleBlock .actions {
  margin: 0;
  padding: 0;
}

.titleBlock .actions--date,
.titleBlock .actions--retrieve,
.titleBlock .actions--print {
  margin-right: $space-s;
  display: inline-block;
  list-style: none;
  font-size: modular-scale(-1);
  text-align: center;
  padding: $space-m $space-l;
}

.titleBlock .actions--date {
  padding-left: 0;
}

.titleBlock .actions--retrieve,
.titleBlock .actions--print {
  border-radius: 40px;
  color: #444;
  transition: all 0.10s ease-in-out;
  background: #efefef;
  border: 1px solid transparent;
  cursor: pointer;
  padding: $space-s $space-xl;

  &:hover {
    border: 1px solid #777;
  }
}
