.titleBlock {
  line-height: 1;
  width: 100%;
  margin: $space-xl 0;
}
.titleBlock h1 {
  margin: 0;
  line-height: 2;
}

.titleBlock--product {
  color: $color-black;
}

.titleBlock--usertitle {
  color: $color-red;
}

.titleBlock--actions--action {}

.titleBlock .actions {
  margin: 0;
  padding: 0;
}

.titleBlock .actions--date,
.titleBlock .actions--retrieve,
.titleBlock .actions--print {
  margin-right: $space-s;
  display: inline-block;
  list-style: none;
  font-size: modular-scale(0);
  text-align: center;
  padding: $space-s $space-l;
}

.titleBlock .actions--date {
  padding-left: 0;
}

.titleBlock .actions--retrieve,
.titleBlock .actions--print {
  border-radius: 40px;
  background: $color-gray-light-med;
  text-transform: capitalize;
}
